.wrapper{
    max-width: 80%;
}
.zombie{
    background-color: green;
    max-width: 50em;
    font-size: 16px;
    display: inline-block;
    padding: 5px;
    color: white;
}
.emptyHouse{
    background-color: red;
    max-width: 50em;
    font-size: 16px;
    padding: 5px;
    display: inline-block;
    color: white;
}
.betweenTowns{
    background-color: white;
    max-width: 50em;
    font-size: 16px;
    padding: 5px;
    display: inline-block;
    color: white;
}